input:invalid {
    border: 2px solid red;
    background-color: rgb(255, 176, 176);
}

input:valid {
    border: 2px solid green;
    background-color: rgb(137, 247, 137);
}

.header-soporte {
text-align: center;
align-content: center;
width: 99%;
height: 150px;
background-image: url(Imagenes/Imagensoportetecnico.png);
background-size: cover;
}

.body-soporte {
background-color: aqua;
}
.h2-informacioncliente {
background-color: gray;
text-align: left;
align-items: center;
border-radius: 4px;
display: flex;
flex-wrap: nowrap;
margin-top: 20px;
}
.h2-problema {
background-color: gray;
text-align: left;
align-items: center;
border-radius: 4px;
display: flex;
flex-wrap: nowrap;
}







header {
background-color: blue;
color: black;
padding: 10px;
text-align: center;
}

.nav-menu ul {
list-style-type: none;
display: flex;
justify-content: space-evenly;
background-color: black;
border-bottom: 4px solid var(--verde-oscuro);
padding: 10px;
}

.nav-menu a {
 color: white;
 text-decoration: none;
}








footer {
color: black;
text-align: center;
background-color: silver;
padding: 10px;
border-top: 4px solid var(--verde-oscuro);
}